.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square-container {
  display: grid;
  grid-template-columns: 150px 150px;
  gap: 20px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 0;
  justify-content: space-evenly;
}