.dice {
    cursor: pointer;
}

#selected {
    border: 1px red solid;
    height: 36px; width: 39px;
    border-radius: 14px;
    background-color: rgb(255, 0, 0);
}

#notselected {
    border: none;
}