#square {
    border-radius: 15px;
    height: 150px; width: 150px;
    border: 2px solid black;
}

.white {
    background-color: #FFF;
}

.purple {
    background-color: blueviolet;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}