body {
    font-family: 'Poppins', sans-serif;
}

.hero-container {
    align-items: center;
    position: relative;
    margin: 100px 0 0 40px;
}

.hero-image {
    max-width: 395.91px;
    max-height: 232px;
    margin: 0 0 0 38px;
}

.heading {
    text-align: left;
    size: 36px;
    font-weight: 600;
    margin: 32px 0 10px 5px;
}

p.content {
    font-weight: 300;
    font-size: 16px;
    line-height: 17.6px;
    width: 320px;
    margin: 0 0 0 5px;
}