input[type=text] {
    border-radius: 4px;
    padding: 10px;
    box-shadow: 3px 3px 2px rgba(135, 133, 133, 0.2);
    transition: background-color 0.5s ease-in-out;
}

input[type=text]:focus {
    border-radius: 4px;
    background-color: powderblue;
    box-shadow: 3px 3px 2px rgba(135, 133, 133, 0.2);
}