body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f8f9fc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0;
  padding: 0;
}

.home-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  position: absolute;
  justify-content: space-evenly;
  transform: translate(0, 50%)
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  color: black;
  padding: 10px 50px;
  box-shadow: 0px 0px 5px 2px rgba(108, 107, 107, 0.2);
  border-color: #D3D3D3;
}

.card-container {
  position: relative;
}

nav {
  background-color: #f8f9fc;
  width: 100vw;
  position: relative;
  left: 0;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
}

a {
  text-decoration: none;
  padding: 25px;
  color: rgb(60, 59, 59);
  font-weight: 600;
  transition: color 0.3s linear;
}

a:hover {
  color: rgb(129, 130, 131);
}

.wrench {
  position: absolute;
  left: -75px; top: -100px;
  width: 70%; height: 70%;
}