.icon {
    width: 4rem;
    height: 4rem;
    padding: 5px;
    border-radius: 50%;
    position: relative;
    top: 75px;
}

p {
    width: 50px;
    padding: 4px;
    background-color: rgb(161, 168, 102);
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
    align-items: center;
    position: relative;
    top: -19px;
    border-radius: 5px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}