body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button { 
  padding: 15px 30px; 
  border-radius: 2px;
  margin: 5px 0px;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button { 
  border: none;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%); 
}

.light-theme {
  background-color: #b2b2b2;
  color: #000;
}

.dark-theme {
  background-color: #3a3b3c;
  color: #fff; 
}

.light-header {
  position: absolute;
  left: 0; top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px black solid;
}

.light-main {
  background-color: aquamarine;
}

.dark-main {
  background-color: #3a3b3c;
}

.dark-header {
  background-color: #3a3b3c;
  color: white;
  position: absolute;
  left: 0; top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px #FFF solid;
}

.dark-footer {
  position: absolute;
  bottom: 0; left: 0;
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3a3b3c;
  color: white;
}

.light-footer {
  position: absolute;
  bottom: 0; left: 0;
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 2px black solid;
}