/*

ZEN GARDEN CSS

*/

@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

* {
    margin: 0;
    padding: 0;
    font-family: "Libre Baskerville", sans-serif;
    font-size: 1rem;
}