/*

ZEN GARDEN CSS

*/

@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

@font-face {
	font-family: 'verdemoderna';
	src:url('verdemoderna.eot');
	src:url('verdemoderna.eot?#iefix') format('embedded-opentype'),
		url('verdemoderna.woff') format('woff'),
		url('verdemoderna.ttf') format('truetype'),
		url('verdemoderna.svg#verdemoderna') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.bamboo-bg {
    background-image: url("./bamboo.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

.contour-bg {
    background-image: url("./contours-opaque.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

.top-portion {
    background-color: #1d3f3f;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 10px;
    border-bottom: 3px solid rgb(16, 37, 37, 0.5);
}

body, html {
    font-family: "Libre Baskerville", sans-serif;
    font-size: 1rem;
}

img {
    float: left;
    margin-left: 20px;
    margin-right: 50px;
    opacity: 0.9;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 100;
    padding: 10px 0 10px 10px;
    position: relative;
    left: -20px;
    font-size: 2.5em;
    color: rgba(255, 255, 255, 0.876);
}

h2 {
    font-family: 'Julius Sans One', sans-serif;
    text-align: left;
    font-size: 1.35em;
    font-weight: lighter;
}

h3 {
    font-size: 1.3em;
    font-style: italic;
    font-weight: lighter;
    position: relative;
    left: -15px;
    color: rgba(255, 255, 255, 0.572);
}

p {
/*     padding: 0px 0 0 50px; */
    font-size: 0.8em;
    text-align: justify;
    line-height: 2;
    color: #435B5E;
}

a.download-link {
    color: #ABBDA9;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1em;
    transition: background-color linear 0.5s, color linear 0.5s;
    padding: 10px 5px 10px 5px;
}

a.download-link:hover {
    background-color: #3D8A9F;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
}

.grid-nav {
    background-color: aquamarine;
    grid-column: 1 / 3;
    padding: 70px 10px 70px 95px;
    background-attachment: scroll, scroll, fixed;
  background-color: rgba(138,188,159,0.5);
  background-image: url(contours-opaque.png), url(gridlines-opaque.png), url(huntington.jpeg);
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
}

.grid-nav-links {
    grid-column: 3 / 4;
    padding: 20px;
    background-color: rgb(34, 50, 41);
    background-attachment: scroll, scroll, fixed;
  background-image: url(contours-opaque.png), url(gridlines-opaque.png), url(huntington.jpeg);
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
}

.grid-about-main {
    background-color: white;
    grid-column: 1 / 3;
    padding: 50px;
    text-align: center;
    padding-left: 150px;
    padding-right: 140px;
}

.grid-about-authors {
    background-color: #C0CAC380;
    grid-column: 3 / 4;
    padding: 50px 70px 70px 50px;
}

.grid-participation {
    background-color: #C2DBC9;
    grid-column: 1 / 3;
    padding: 50px;
    background-attachment: scroll, scroll, fixed;
  background-color: rgba(138,188,159,0.5);
  background-image: url(contours-opaque.png), url(gridlines-opaque.png), url(bamboo.png);
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
}

.grid-participation-links {
    background-color: #B0CCBB;
    grid-column: 3 / 4;
    padding: 50px;
}

.grid-footer {
    grid-column: 1 / 4;
    background-color: #C2DBC975;
    background-image: url("./koi.jpeg"), url("./contours-opaque.png");
    background-repeat: no-repeat, repeat;
    background-size: cover, auto;
    padding: 100px;
    text-align: center;
}

.grid-icons {
    grid-column: 1 / 4;
    background-color: lawngreen;
    top: 100%;
    padding: 100px;
    width: 100%;
    margin: auto;
    align-items: center;
    padding: 75px 150px 75px 0;
}

/* icons */

.icon-github:before {
    content: "\eab0";
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 100px;
    padding: 20px;
}

.icon-css3:before {
    content: "\eae6";
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 100px;
    padding: 20px;
}

.icon-html-five:before {
    content: "\eae4";
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 100px;
    padding: 20px;
    margin: 25px;
}

.icon-wheelchair-alt:before {
    content: "\e900";
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 100px;
    padding: 20px;
    margin: 25px;
  }

.icon-download:before {
    content: "\e901";
    border-radius: 2px;
    padding: 2px;
    border: solid #D9E1CD;
    background-color: #D9E1CD;
}

.underlined {
    /*border-bottom: dotted 1px black;*/
    text-decoration: underline dotted black;
    position: relative;
    margin-top: -5px;
}

.underlined-title {
    border-bottom: dotted 2px rgba(255, 255, 255, 0.572);
    position: relative;
    margin-top: -5px;
}

.underlined::before {
    padding: 0;
    margin: 0;
}