html, body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
    background-color: #282D35;
}

.newH1 {
    color: #61DAFB;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);
    font-family: 'Fira Code', monospace;
}

.navbar {
    padding: 5px;
    align-items: center;
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(31, 168, 168);
}

.navlink {
    color: black;
    text-decoration: none;
}