body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", "system-ui";
    background-color: #282D35;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  position: absolute;
  color: #61fb61;
  left: 50%;
  top: 25%;
  transform: translate(-50%, 0);
}

.newH1 {
  color: #61DAFB;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0);
  font-family: 'Fira Code', monospace;
}

.navbar {
  padding: 5px;
  align-items: center;
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 50px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(31, 168, 168);
}

.navlink {
  color: black;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  padding-left: 20px;
}

.navlink:hover {
  color: #61fb61;
  font-weight: 800;
  padding-left: 25px;
}
