.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%; top: 0;
  transform: translate(-50%, 10%);
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 70px 20px 20px 20px;
  box-shadow: 9px 21px 19px -16px rgba(0,0,0,0.1);
}